.header{
    background-color: #0097A7;
    color: #212121;
}
.main.container
.justify-content-end{
   
    font-family: 'Love Ya Like A Sister';
    font-family: 'Nanum Pen Script' ;

}
.justify-content-center .h1{
   
    font-family: 'Love Ya Like A Sister' ;
}
h1
{   font-family: 'Nanum Pen Script' ;
    font-size: 30px;

}
#contenedor-inferior{
    background-color: #B2EBF2;
}
#paraeste{
    font-family: 'Princess Sofia' ;
    color: #FFC107;
    
}
.list-group-item a{
    color:#0097A7;
}
