/*.header{
    background-color: #0097A7;
    color: #212121;
}
.main.container
.justify-content-end{
   
    font-family: 'Love Ya Like A Sister';
    font-family: 'Nanum Pen Script' ;

}
.justify-content-center .h1{
   
    font-family: 'Love Ya Like A Sister' ;
}
h1
{   font-family: 'Nanum Pen Script' ;
    font-size: 30px;

}
#contenedor-inferior{
    background-color: #B2EBF2;
}
#paraeste{
    font-family: 'Princess Sofia' ;
    color: #FFC107;
    
}
.list-group-item a{
    color:#0097A7;
}*/
.slider{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color:#F8BBD0;
    z-index: -1;
}
nav{
    display: grid;
    grid-template-columns: 10% 1fr 1fr 10%;
    min-height: 10vh;
    color: white;
    align-items: center;
}
#logo{
    grid-column: 2/3;
    font-size: 24px;
}
.hamburguer{
   justify-self: end; 
}
section{
    display: flex;
    height: 80vh;
    justify-content: center;
    align-items: center;
    background-color: #F8BBD0;
}
.hero{
    height: 100%;
    width: 100%;
    position: relative;
}
.hero img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  
}
.headline{
    position: absolute;
    top: 70%;
    left: 10%;
    font-size: 100px;
    transform: translate(-20%,-70%);
    color: black;
    z-index: 3;
}
.hero::after{
    content: " ";
    background-color: white;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    opacity: 0.3;
}
